body {
  text-align: center;
  min-height: 100%;
  height: 100%
  max-width: 600px;
  font-family: garamond, sans-serif;
  background-color: aquamarine;
}
#main {
  height: 90%;
}
#search{
  display: block;
  vertical-align: middle;
  position: relative;
  top: 1%;
}
#search-res{
  display: block;
  position: relative;
  max-height: 300px;
  background-color: aquamarine;
  visibility: visible;
}

/* Two divs for search */
#res-start{
  display: inline-block;
  position: relative;
  background-color: greenyellow;
  height: 300px;
  overflow-y: scroll;
  visibility: hidden;
}
#res-middle{
  display: inline-block;
  position: relative;
  background-color: bisque;
  height: 300px;
  overflow-y: scroll;
  visibility: hidden;
}
#history{
  display: none;    
}
#hist-res{
  display: none;    
}
#random{
  display: none;    
}
#rand-res{
  display: none;    
}






#navigation {
  height: 10%;
  position: absolute:;
  bottom: 0;
}
#naviation button {
  color: aqua;    
}

#quint {
  height: 70%;
  bottom: 0;
  position: fixed;
}